@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

@mixin shadowbot{
    box-shadow: 0 2px 4px #C4C4C4;
    -moz-box-shadow: 0 2px 4px #C4C4C4;
    -webkit-box-shadow: 0 2px 4px #948d8d;
    -ms-box-shadow: 0 2px 4px #C4C4C4;
    -o-box-shadow: 0 2px 4px #C4C4C4;
}
@mixin objectfitcover{
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

@mixin sitefont{       
    font-family: 'FuturaLT';
    color:$black;   
    -webkit-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-size:$fsize;
    line-height:$fsize + 10;
    letter-spacing:1px;
  
}

@mixin positionall($top, $right, $bottom, $left){
    position:absolute;
    top:$top;
    right:$right;
    bottom:$bottom;
    left:$left;
}

@mixin verticalcenter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;   
    flex-direction: column;
}

@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
}





//mixins for devices responsive
//mobile mixin
@mixin mob {
    @media (min-width:#{$mobile-width}) and (max-width:#{$mobilelscape-width - 1}) {
        @content;
    }
}

//mobile landscape
@mixin mlscape {
    @media (min-width:#{$mobilelscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//tablet mixin
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//laptop mixin 
@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
        @content;
    }
}