//variables 
$black:#000;
$white:#fff;
$blue:#045BA6;
$red:#f73b06;
$green:#9ad902;
$fsize:15px;
$gray:#1d1d1d;
$darkgray:#202023;
$lightgray:#2b2b2b;



//devices breakpoints
$mobile-width:320px;  //portrait phones, less than 576px
$mobilelscape-width:576px; // Small devices (landscape phones, 576px and up)
$tablet-width:768px; // Medium devices (tablets, 768px and up)
$laptop-width:991px; // Large devices (desktops, 992px and up)
$desktop-width:1400px; // Extra large devices (large desktops, 1400px and up)
