@font-face {
  font-family: 'Futura-Medium';
  src: url('../fonts/Futura-Medium/Futura-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Futura-Medium/Futura-Medium.woff') format('woff'), url('../fonts/Futura-Medium/Futura-Medium.ttf')  format('truetype'), url('../fonts/Futura-Medium/Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkiraExpanded-SuperBold';
  src: url('../fonts/AkiraExpanded-SuperBold/AkiraExpanded-SuperBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkiraExpanded-SuperBold/AkiraExpanded-SuperBold.otf')  format('opentype'),
  url('../fonts/AkiraExpanded-SuperBold/AkiraExpanded-SuperBold.woff') format('woff'),
  url('../fonts/AkiraExpanded-SuperBold/AkiraExpanded-SuperBold.ttf')  format('truetype'),
   url('../fonts/AkiraExpanded-SuperBold/AkiraExpanded-SuperBold.svg#AkiraExpanded-SuperBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaLT';
  src: url('../fonts/FuturaLT/FuturaLT.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/FuturaLT/FuturaLT.woff') format('woff'), url('../fonts/FuturaLT/FuturaLT.ttf')  format('truetype'), url('../fonts/FuturaLT/FuturaLT.svg#FuturaLT') format('svg');
  font-weight: normal;
  font-style: normal;
}