@import 'mixins';
@import "variables";

// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    @include sitefont;  
    margin:0;
    padding:0;
    height:100%;
    overflow-x: hidden;
    
}

ul{
    margin:0;
    padding:0;
}

.fwhite{
    color:$white;
}

.greentext{
    color:$green;

    &:hover{
        color:$white;
    }
}

li{
    list-style:none;
    margin:0;
    padding:0;
}

.animate__animated{
    animation-duration: 0.5s;
}

.cust-container{
    width:80%;
    margin:0 auto;

    @include mob{
        width:90%;
    }
    @include mlscape{
        width:90%;
    }
    @include tab{
        width:90%;
    }
    @include lap{
        width:90%;
    }
}

h1, .h1, h2, .h2, .h3, h3{
    font-family:'AkiraExpanded-SuperBold';
}

.bigTitle{
    font-size:$fsize * 8;
    color:$green;          
}
.subTitle{
    font-size:$fsize * 3 - 5;
    color:$green;  

    @include lap{
        font-size:$fsize * 2 - 5;
    }
    @include mob{
        font-size:$fsize + 5;
    }
    @include mlscape{
        font-size:$fsize + 5;
    }
    @include tab{
        font-size:$fsize + 10;
    }
}

a{
    &:hover{
        text-decoration: none;
    }
}

.greenbrdBtn{
    padding:10px 20px;   
    border:1px solid $green;
    color:$green;
    @include transition;
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:$fsize - 3;
    font-weight: bold;
    border-radius:0;
    

    &:hover{
        background:$green;
        color:$white;
    }
}

.redbrdBtn{
    padding:10x 20px;   
    border:1px solid $red;
    color:$red;
    @include transition;
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:$fsize - 3;
    font-weight: bold;

    &:hover{
        background:$red;
        color:$white;
    }
}

.main-timeline .timeline-icon{
   line-height:100px;
}

.blackbrdBtn{
    padding:10px 20px;   
    border:1px solid $black;
    color:$black;
    @include transition;
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:$fsize - 3;
    font-weight: bold;

    &:hover{
        background:$black;
        color:$white;
    }
}

.greenBtn{
    background:$green;
    padding:10px 20px;   
    color:$black;
    @include transition;
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:$fsize - 3;
    font-weight: bold;
    border-radius:0;

    &:hover{
        background:$white;
        color:$green;
    }
}
.blackBtn{
    background:$black;
    padding:10px 20px;   
    color:$green;
    @include transition;
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:$fsize - 3;
    font-weight: bold;

    &:hover{
        background:$white;
        color:$black;
    }
}



.fwhite{
    color:$white!important;
}
.fgreen{
    color:$green!important;
}
.fred{
    color:$red!important;
}
.fblack{
    color:$black;
}
.sticked {
    padding:7px 0;
   
    @include mob{
        padding:10px 0; 
    } 
     @include mlscape{
        padding:10px 0; 
    } 
}
//header styles 
header{
    background:$gray;
    padding:10px 0;
    @include transition;
    .navbar-brand{
        width:250px;  

        @include mob{
            width:220px;
        }

        img{
            width:100%;
        }

       
    }  
    .link-border{
        border:1px solid $green;
        margin-right:5px;

        @include mob{
            margin-left:15px;
        }
        
        @include mob{
            margin-left:mlscape;
        }
    } 

    a.active{
        position:relative;
        color:$green;
        text-transform: uppercase;
        display:block;
        letter-spacing:1px;
        font-size:$fsize - 4;
        padding:5px 12px;

        @include mob{
            padding:5px 15px;
        }
        @include mlscape{
            padding:5px 15px;
        }

        &:before{
            content:'';
            background:url(../img/menu_bg.png)no-repeat 0 0;
            width:104px;
            height:47px;
            @include positionall(inherit,inherit,-22px,50%);
            margin-left:-52px;

            @include mob{
                display:none;
            }
             @include mlscape{
                display:none;
            }
            @include tab{
                display:none;
            }
        }
    }   

    .navbar-nav{
        .nav-link{
            @include lap{
                font-size:$fsize - 4!important;
            }
        }
    } 
}

.modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius:0;   
}	

//right slide modal
.modal.right {
    .modal-dialog {
        position: fixed;
        margin: auto;
        width: 320px;
        max-width:320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }
    .close{
        box-shadow: none;
        color:$white;
        opacity:1;
        @include positionall(50px, 50px, inherit, inherit);
        z-index: 20;

        &:focus{
            border:none;
            outline:none;
        }
        &:hover{
            color:$green;
        }
    } 
    .modal-content {
        height: 100%;
        overflow-y: auto;
        border-radius:0;
        background:lighten($black, 5%);   
    }	
    .modal-body {
        padding:0;

        .nav-right{
            padding-top:100px;
            ul{
                li{
                    padding:10px 20px;
                    a{
                        color:lighten($black, 60%);
                        text-transform: uppercase;
                        font-size:$fsize - 1;

                        &:hover{
                            text-decoration: none;
                            color:$green;
                        }
                    }
                }
            }
            .right-social{
                padding-left:20px;
                padding-top:20px;

                a{
                    width:40px;
                    height:40px;
                    border:1px solid lighten($black, 60%);
                    border-radius:50%;
                    text-align:center;
                    display:inline-block;
                    line-height:40px;
                    @include transition;
                    color:lighten($black, 60%);

                    &:hover{
                        background:$green;
                        border:1px solid $green;

                        .icomoon{
                            color:$white;
                        }
                        
                    }

                    .icomoon{
                        color:lighten($black, 60%);
                    }
                }
            }
        }
    }   
}


/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}
	
.modal.right.fade.show .modal-dialog {
    right: 0;
}

//video home
.video-home{
    position:relative;
    width:100%;
    height:100vh;  

    @include mob{
        height:350px;
    }
    @include mlscape{
        height:350px;
    }
    @include tab{
        height:600px;
    }
  

    video{       
       background:$black;
        width:100%;      
        height:100vh;
        pointer-events:none;
        z-index:0;
        padding:100px;       
        @include positionall(0,0,0,0);

        @include mob{
            height:350px;
            padding:20px;
        }
        @include mlscape{
            height:350px;
            padding:20px;
        }
        @include tab{
            height:600px;
            padding:20px;
        }
    }

    .article{
        position:relative;
        z-index:0;
        width:696px;
        text-align:center;
        float:right;
        padding-top:130px;

        .h1{
           @extend .bigTitle;
        }
        h4{
            font-size:$fsize * 2 + 3;
            color:lighten($black, 60%);
            letter-spacing: 10px;  
            animation-delay: 0.5s;        
        }
    }    
}

//swapping
.swapping-section{
    // background: url(../img/swapbg.png)no-repeat 0 0;
    background:url(../img/road.jpg)repeat 0 0;  
    height:100vh;
    padding-bottom:100px;
    width:100%;
    position:relative;
    

    @include mob{
        height:200px;
    }
    @include mlscape{
        height:300px;
    }
    @include tab{
        height:430px;
    }


    video{                              
        background:url(../img/road.jpg)repeat 0 0;  
        width:100%;      
        height:100vh;
        pointer-events:none;
        z-index:0;      
        @include positionall(0,0,0,0);

        @include mob{
            height:200px;
        }
        
        @include mlscape{
            height:300px;
        }
        @include tab{
            height:430px;
        }
    }
    

    .swapright{
        @include positionall(30%, 10%, inherit, inherit);
        width:28%;

        @include mob{
            display:none;
        }
         @include tab{
           top:8%;
        }
        
        .swap-article{            
            margin:auto;   

            @include mlscape{
                margin-top:-70px;
                padding:0;
            }
    
            h2{
               @extend .subTitle;
            }
        }
    } 
}

.article{
    padding:50px 0 0 0;
     h4{
         font-size:$fsize * 2 - 2;             
         animation-delay: 0.5s;   
         letter-spacing:2px;    
         
         @include lap{
            font-size:$fsize + 5;
         }
         @include mob{
            font-size:$fsize + 3;
         }
         @include mlscape{
            font-size:$fsize + 3;
         }
      }
      .h2{
         @extend .subTitle;
         color:$black;
         letter-spacing:1px;
      }
      p{
          font-size:$fsize;
      }
 }


.india-designed{
    background:$lightgray url(../img/flatcol.png)no-repeat 50px bottom;
    width:100%;
    background-size:cover;   
    padding:100px 58px;
    @include verticalcenter;    
    height:450px;

    @include mob{
        height:auto;
        background-position: -150px bottom;
        display:block;
        padding:30px 16px;
    }
    @include mlscape{
        height:auto;
        background-position: 0 bottom;
        display:block;
        padding:30px 16px;
    }
    @include tab{
        height:auto;
        background-position: 0 bottom;
        display:block;
        padding:30px 16px;
    }

    @include lap{
        background:$lightgray url(../img/flatcol.png)no-repeat -600px bottom;
    }

    .article{
        padding-left:25%;

        @include mob{
            padding-left:2%;
            padding-top:30px;
        }
        @include mlscape{
            padding-left:2%;
            padding-top:30px;
        }
        @include lap{
            padding-left:0;
            padding-top:30px;
        }
    }
   
}

.gearup{
    background:url(../img/Ecosystem.png)no-repeat 0 0;  
    width:100%;
    height:80vh;   
    margin-top:0;
    position:relative;
    z-index:99;
    @include verticalcenter;

    @include mob{
        height:auto;
    }
    @include mlscape{
        height:auto;
    }
    @include tab{
        height:auto;
    }

    .gearin{       
        @include verticalcenter;       
        height:100vh;    
        background-size:cover; 
        position:relative;
        width:100%;

        @include mob{
            height:auto;
            padding:0 0 35px 0;
        }
        @include mlscape{
            height:auto;
            padding:0 0 35px 0;
        }
        @include tab{
            height:auto;
            padding:0 0 35px 0;
        }

        .gearinarticle{
            width:45%;
            margin-top:-26%;
            p{
                padding-right:25%;
            }

            @include mob{
               width:100%;
            }
            @include mlscape{
                width:100%;
             }
             @include tab{
                width:70%;
             }
        }
       

        .article{
            color:$white;
            padding-left:100px;
            

            @include mob{
                padding-left:20px;
            }
            @include mlscape{
                padding-left:20px;
            }
            @include tab{
                padding-left:20px;
            }

            .h2{
                color:$green;
            }     
            p{
                color:$black;
            }     
        }
    }
}



.kms-section{
    background:$white;  
    height:100vh;
    width:100%;

    @include mob{
        height:auto;
        padding:50px 0;
    }
    @include mlscape{
        height:auto;
        padding:20px 0;
    }
    @include tab{
        height:auto;
        padding:20px 0;
    }

    @include lap{
        padding:80px 0 80px 0;
    }

    .article{
        position:relative;
        top:300px;
        z-index:0;
        padding-top:0;
        margin-top:-220px;

        @include lap{
            top:190px;
            margin-bottom:50px;
        }
        
        @include mob{
            top:20px;
            margin-bottom:50px;
            margin-top:0;
        }
        @include mlscape{
            top:20px;
            margin-bottom:50px;
            margin-top:0;
        }
        @include tab{
            top:20px;
            margin-bottom:50px;
            margin-top:0;
        }

        .h2{
            font-size:220px;
            color:$green;
            padding-bottom:0;
            margin-bottom:0;
            line-height:190px;

            @include lap{
                font-size:$fsize * 10;
                line-height:130px;
            }
            @include mob{
                font-size:$fsize * 3;
                line-height:55px;
            }
            @include mlscape{
                font-size:$fsize * 3;
                line-height:55px;
            }
            @include tab{
                font-size:$fsize * 6;
                line-height:115px;
            }
        }
        h4{
            color:$black;
            font-size:$fsize * 2;
            margin-bottom:0;
            padding-bottom:0;

            @include mob{
                font-size:$fsize;
            }
            
            @include mlscape{
                font-size:$fsize + 2;
            }
        }
        .h3{
            color:$black;
            font-size:$fsize * 2;  
            padding-bottom:0;
            text-align:right;
            padding-right:20px;

            @include mob{
                font-size:$fsize + 3;  
                text-align:center;
                padding-right:0;
            }
             @include mlscape{
                font-size:$fsize + 3;  
                text-align:center;
                padding-right:0;
            }
        }
       
    }
    .kmsimg{
        position:relative;
        z-index:1;
        margin-top:80px;
        width:78%;
       
        @include lap{
            width:62%;
            margin-top:0;
        }
        @include mob{
            width:100%;
            margin-top:0;
        }
        @include mlscape{
            width:100%;
            margin-top:0;
        }
        @include tab{
            width:100%;
            margin-top:0;
        }
       
    }
}

.features{
    padding:60px 0;
    background:$green;

    .featurecol{

        @include mob{
            text-align:center;
            padding:15px 0;
        }
         @include mlscape{
            text-align:center;
            padding:15px 0;
        }
        @include tab{
            text-align:center;
            padding:15px 0;
        }

        img{
            @include mlscape{
                height:80px;
            }
        }
        
        h4{
            font-size:$fsize + 2;
            color:$black;
            letter-spacing: 0;
            text-transform: uppercase;
            padding-top:30px;   
            line-height:25px;        
            font-family:'AkiraExpanded-SuperBold';

            @include mlscape{
                font-size:$fsize;
            }
        }
    }
}

.journey{
    background:url(../img/orderbg.jpg)no-repeat 0 0;
    padding:60px 0;
    background-size: cover;    
    @include verticalcenter;
    height:100vh;

    @include mob{
        height:auto;
    }
    @include mlscape{
        height:auto;
    }
    @include tab{
        height:auto;
    }

    .article{
        padding-bottom:30px;
        padding-top:0;
       
        h4{
            color:$white;   
            font-size:$fsize * 2;      
            
            @include lap{
                font-size:$fsize + 5;   
            }
            @include mob{
                font-size:$fsize;   
            }
             @include mlscape{
                font-size:$fsize;   
            }
            @include mlscape{
                font-size:$fsize;   
            }
        }
        .h2{
            color:$green;   
            font-size:$fsize * 3 + 10;     
            
            @include lap{
                font-size:$fsize * 2;
            }
            @include mob{
                font-size:$fsize + 10;
            }
            @include mlscape{
                font-size:$fsize + 10;
            }
             @include tab{
                font-size:$fsize + 10;
            }
        }
        p{
            color:lighten($black, 65%);
            font-size:$fsize + 2;
            font-weight:normal;
            

            @include lap{
                font-size:$fsize;
            }
            @include tab{
                font-size:$fsize;
            }
        }
    }
    .journeyimg{
        @include lap{
            width:70%;
        }
    }
}

.advantages-section{
    background:url(../img/advantagesbg.png)no-repeat 0 0;
    background-size:cover;
    padding-top:50px;

    @include mob{
        padding-top:10px;
        padding-bottom:20px;
    }
    @include mlscape{
        padding-top:10px;
        padding-bottom:20px;
    }
    @include tab{
        padding-top:10px;
        padding-bottom:20px;
    }

    .article{
        padding-bottom:75px;

        @include mob{
            padding-bottom:20px;
            padding-left:20px;
        }
        @include mlscape{
            padding-bottom:20px;
            padding-left:20px;
        }
        @include tab{
            padding-bottom:20px;
            padding-left:20px;
        }

        .h2{
            color:$white;
        }
        h4{
            color:$white; 
        }
    }
}

.smart-mobile{
    background:url(../img/performancebanner.jpg)no-repeat center center;   
    height:100vh;
    background-size:cover;
    @include verticalcenter;

    @include mob{
        height:auto;
        padding:50px 0;
    }
    @include mlscape{
        height:auto;
        padding:50px 0;
    }
    @include tab{
        height:auto;
        padding:50px 0;
    }

    .article{
        @include mob{
            padding:15px;
        }
         @include mlscape{
            padding:15px;
        }
        @include tab{
            padding:15px;
        }
    }

    .playstore{
        justify-content: center;
        img{
            width:150px;
            margin:0 5px;

            @include mob{
                width:120px;
            }
            @include mlscape{
                width:120px;
            }
            @include tab{
                width:120px;
            }
        }
    }
}

//footer 
footer{
    background:$black;    
    padding:50px 0 20px 0;
    position:relative;

    .footer-brand{
        img{
            width:200px;
        }
    }
    .footerlinks{
        @include mob{
            padding:15px 0;
        }
        @include mlscape{
            padding:15px 0;
        }
        a{
            color:lighten($black, 60%);
            font-size:$fsize - 3;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-right:15px;

            &:hover{
                color:$white;
            }
        }
    }
    .sociallinks{
        a{
            font-size:$fsize;
        }
    }

    .rightsrow{
        padding-top:35px;

        @include mob{
            padding-top:10px;
        }
        @include mlscape{
            padding-top:10px;
        }
        
        p{
            font-size:$fsize - 3;
            color:lighten($black, 60%);
        }
    }
    .movetop{
        width:50px;
        height:50px;         
        position:fixed;
        bottom:15px;
        right:15px;       
        display:inline-block;
        text-align:center;
        line-height:53px;
        display:none;
        background:$green;
        z-index: 999;
        @include transition;
        border-radius:10px;

        &:hover{
            background:$white;              
        }

        .icomoon{
            font-size:$fsize + 6;
            color:$black;
        }
    }
}

//submain styles 
.subMain{
    min-height:700px;
    background:$darkgray;  
    padding-top:50px;

    p{
        font-size:$fsize;
        color: lighten($white, 20%);
        padding-bottom:15px;
        text-align:justify;
    }

    //quanta slider 

    .quantaslider{
        height:100vh;
        background: $black;
        @include verticalcenter;

        @include mob{
            height:auto;
        }
        @include mlscape{
            height:auto;
        }
        @include tab{
            height:auto;
        }
        @include lap{
            height:auto;
        }

        img{
            width:100%;
            
            @include mob{
                height:auto;
            }
            @include mlscape{
                height:auto;
            }
            @include tab{
                height:auto;
            }
            @include lap{
                height:auto;
            }
        }        
    }
    //quanta slider ends 

    //rotate 
    .rotateQuanta{
        background:$black;
        padding:75px 0 0 0;

        .rotatecol{

            @include mob{
                margin:10px 0;
            }
            @include mlscape{
                margin:10px 0;
            }
            h4{
                font-size:$fsize + 10;
                color:$white;
                letter-spacing: 2px;
                text-transform: uppercase;
            }   
            h2{
                font-size:$fsize * 4;
                color:$green;

                span{
                    font-size:$fsize * 2;                  
                }

                @include mob{
                    font-size:$fsize * 3 - 5;
                }
                @include mlscape{
                    font-size:$fsize * 3 - 5;
                }
            }
            p{
                color:$white;                
                letter-spacing: 1px;     
                text-align:center;           
            }
            &:nth-child(2){
                border-right:1px solid $green;
                border-left:1px solid $green;
            }
        }
    }
    //roptate ends 
}



.specs-detail{
    background:#2f2e34; 
    padding:75px 0 0 0;
    @include clearfix();

    h1{
        @include mob{
            font-size:$fsize * 2 - 2;
        }
         @include mlscape{
            font-size:$fsize * 2 - 2;
        }
    }

    .spectab{
        padding-top:50px;

        .resp-vtabs .resp-tabs-list li{
            background:none!important;
            font-size:$fsize + 2;
            color:$white;
            text-transform: uppercase;
            padding:30px;
            border-bottom:2px solid #3b3940!important;
            margin:0;
        }
        .resp-vtabs li.resp-tab-active{           
            background:#3b3940!important;
            color:$green;
            border-bottom:2px solid #3b3940!important;
        }
    }

    .resp-tabs-list li{
        background:$green;
    }
    .resp-tabs-container{
        background:#3b3940!important;      
        padding:15px 45px 50px 45px;
        height:100%;
        margin-top:3px;

        @include mob{
            padding:15px; 
        }
        
        @include mlscape{
            padding:15px; 
        }

        h5{
            font-size:$fsize + 6;
            color:$white;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .specrow{
            dt{
                font-size:$fsize + 1;
                color:$white;
                font-weight:normal;    
                letter-spacing: 1px;            
            }
            dd{
                font-size:$fsize - 1;
                color:lighten($black, 60%);
                padding-top:5px;
                padding-bottom:25px;
            }
        }
    }
}    

.swiper-container {
    width: 100%;
    height: 100%;
}

.standardsQuanta{
    background:url(../img/bag.png)repeat 0 0;
    width:100%;
    padding:75px 0;    

    @include mob{
        padding:0;
    }

    .starticle{     
      text-align:left;
      padding-left:100px;
      padding-right:50px;

      @include mob{
          padding:15px;
      }
      @include mlscape{
        padding:15px;
    }
    @include tab{
        padding:15px;
    }
       

        h3{
            font-size:$fsize + 5;
            color:$green;
            text-transform: uppercase;
        }        
    }
}

ul.list-items{
    padding:20px 0 0 0;
    margin:0;

    li{
        padding:0;
        margin:0;
        font-size:$fsize + 1;
        color:$white;
        padding-bottom:10px;  
        padding-left:10px;

        &:before{
            content:'-';
            left:-10px;
            position:relative;
            
        }
    }
}

.mob-connectivity{
    background:$darkgray;
    padding:75px 0;
    display:none;
}

.coloursBikes{
    background:#2f2e34;
    padding:0 0 75px 0;
    margin-bottom:15px;

    .carousel-indicators{
        @include mob{
            bottom:-40px;
        }
        @include mlscape{
            bottom:-40px;
        }
        @include tab{
            bottom:-40px;
        }
    }

    .swiper-slide{
        height:100vh;
        background-repeat:no-repeat;
        background-position: 0 0;

        @include mob{
            height:auto;
        }
        @include mlscape{
            height:auto;
        }
         @include tab{
            height:auto;
        }
    }

    .container{
        position:relative;
        
        .h1{
            @extend .bigTitle;
            color:lighten($gray, 25%);
            position:relative;
            text-align:center;
            top:60px;
            font-size:$fsize * 10;

            @include mob{
                font-size:$fsize * 3;
            }
            
            @include mlscape{
                font-size:$fsize * 3;
            }
              @include tab{
                font-size:$fsize * 4 + 10;
                top:20px;
            }
        }

        .carousel {
            margin-top:-100px;

            @include mob{
                margin-top:0;
            }
            @include mlscape{
                margin-top:0;
            }
        }

        .carousel-fade .carousel-item {
            opacity: 0;
            transition-duration: .6s;
            transition-property: opacity;
           }
           
           .carousel-fade  .carousel-item.active,
           .carousel-fade  .carousel-item-next.carousel-item-left,
           .carousel-fade  .carousel-item-prev.carousel-item-right {
             opacity: 1;
           }
           
           .carousel-fade .active.carousel-item-left,
           .carousel-fade  .active.carousel-item-right {
            opacity: 0;
           }

           .carousel-indicators{
               li{
                width:16px;
                height:16px;
                opacity:1;
                background:white;
                border-radius:50%;
                border:none;

                &:nth-child(1){
                    background:$black!important;
                }
                &:nth-child(2){
                 background:red!important;
                }
                &:nth-child(3){
                 background:$white!important;
                }
               }
           } 
        }    
}   

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .quantaGallery{
      img.img-fluid{
          height:100%;
          width:100%;
          object-fit: cover;
          @include transition;    
          position:relative;    

          &:hover{
              transform: scale(1.1);
              z-index:999;
          }
      }
     
     
  }

  .h50{
      height:50%;
  }

   .loginmain{
      background:$black;
      width:100%;
      height:100vh;
      @include verticalcenter;

      .login-col{
          width:300px;   
          .loginbrand{
              text-align:center;            
              margin:25px auto;
              display:block;
              img{
                  width:220px;
              }
          } 
          
          .form-group{
              label{
                  color:$white; 
                  padding-bottom:5px;
                  margin-bottom:0;
                  letter-spacing:1px;
              }
              margin-bottom:15px;
            .form-control{
                background:$gray;
                height:45px;
                border:none;
                border-radius:0;
                color:$white;              

                &:focus{
                    outline:none;
                    border:none;
                    box-shadow:none;
                }
            }
            .btn{
                background:$green;
                height:45px;
                border-radius:0;
                text-align:center;              
                letter-spacing: 2px;
                width:100%;
                font-weight:bold;               
                text-transform: uppercase;
                font-size:$fsize - 2;
                &:hover{
                    background:$white;
                }
            }
          }
          p{
              color:$white;                         
              a{
                  color:$green;

                  &:hover{
                      color:$red;                      
                  }
              }
          }
      }
  }

  .contact{
     .container{      

        .address{
            padding-bottom:50px;
            h4{
                font-size:$fsize + 2;
                color:$white;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            p{
                font-size:$fsize + 1;
                color:lighten($gray, 30%);
            }
            a{
                color:lighten($gray, 30%);
            }
        }
     }
  }

  .form-group{
      label{
          font-size:$fsize;
          color:$white;                  
      }
      .form-control{
        background:none;
        height:45px;
        border:none;
        border-radius:0;
        color:$white;
        border:1px solid lighten($gray, 30%);

        &:focus{
            outline:none;           
            box-shadow: none;
        }
      }   
  }

  .smthumb{
      width:50px;
      height:50px;
  }

  .blog-col{     
      article{
          background:$lightgray;
          padding:25px;
          min-height:321px;
          h5{
              font-size:$fsize + 5;
              color:$green;

          }
          h4{
              padding:12px 0;
             a{
                font-size:$fsize + 10;
                color:$white;
                line-height:35px;
                font-family: 'Futura-Medium';
               

                &:hover{
                    color:$green;
                }
             }
          }
          p{
              font-size:$fsize - 1;
              small{
                  color:lighten($black, 50%);
              }
          }
      }
      .bloglink{
          color:$green;

          &:hover{
              color:$white;
          }
      }
  }

  .page-navigation{
      a{
          display:inline-block;
          width:45px;
          height:45px;
          border:1px solid $white;
          margin:0 5px;
          line-height:45px;
          color:$white;
          @include transition;

          &:hover{
              background:$green;
              color:$white;
              border:1px solid $green;
          }
      }
  }

  .blogrow{
      margin-bottom:25px;
      &:nth-child(even){
          flex-direction: row-reverse;
      }

      .col-md-6{
          padding:0;
      }    
  }

  .blogdetail-col{
      h4{
          font-size:$fsize * 2;
          color:$white;
      }
      .h5{
        font-size:$fsize + 10;
          color:$white;  
          margin:10px 0;
      }
  }

  .smp{
      small{
          color:lighten($black, 50%);
      }
  }


  .otherpage{
    .specs-details{
        padding-top:0!important;
        margin:0;
    }
}

.qandans{
    h6{
        font-size:$fsize + 5;
        color:$white;
        padding-bottom:5px;
    }
    p{
        font-size:$fsize - 1;
        color:lighten($black, 50%);
        padding-bottom:0;
    }
    padding:25px 0;
    border-bottom:1px solid $white;
    margin-bottom:15px;   
}

.graybox{
    background:$gray;
    height:450px;
    @include verticalcenter;
    padding:25px;
    text-align:center;
    @include transition;
    border:1px solid lighten($black, 50%);

    .h4{
        color:$green;
    }

    p{
        text-align:center;
    }

    &:hover{
        background:$green;

        .h4{
            color:$black;
        }
        p{
            color:$black;
        }
    }
}

.links{
    position:fixed;
    top:50%;
    right:10px;
    z-index:999;
    margin-top:-6%;

    a{
        display: block;      
        margin: 15px 10px;
        cursor: pointer;  
        @include transition;
        position:relative;       
        box-sizing: border-box;
        border-radius:50%;
        width:12px;
        height:12px;     
        background:$white;       

        &:hover{
            background:$green;   
            width:12px;
            height:12px;                 
        }
    }
    .Select-nav{
        background:$green!important;
    }
  }

  .about-journey{

    padding-bottom:100px;

    
    ul{
        margin:15px 0;

        li{
            color:$white;
            padding-bottom:10px;
            position:relative;
            padding-left:20px;

            &:before{
                content:'';
                width:5px;
                height:5px;
                background:$white;
                @include positionall(10px,inherit,inherit,0);
            }
        }
    }
    .timeline .timeline-wrapper .timeline-panel .timeline-title {
        font-family: 'AkiraExpanded-SuperBold';
    }
  }

  .philosphy{
      padding:75px 0;
      background:#f1f1f1;

      .h2{
          font-size:$fsize * 4;

          @include mob{
            font-size:$fsize * 2;
          }
      }

      p{
          color:$black;
      }
  }

  .swapimg{
      height:350px;

      @include mob{
          margin:0 auto;
      }
      @include mlscape{
        margin:0 auto;
      }
      @include tab{
        margin:0 auto;
      }
  }


  .yrow{
      padding:25px 0;

      @include mob{
        .article{
            text-align:center;
            p{
                text-align:center;  
            }
        }
      }

      .yimg{
        width:320px;
        height:320px;
        border-radius:50%;
        object-fit: cover;
        border:15px solid lighten($black,25%);

        @include mob{
            width:220px;
            height:220px; 
        }
    }
  }

  .user-screen{
      ul.list-items{
          li{
              color:$black!important;
          }
      }
    .sb-topnav{
      background:darken($black, 10%);  

      .navbar-brand{
          img{
              width:180px;

              @include mob{
                  width:150px;
              }
          }
      }
  
      .dropdown-item{
        font-size:$fsize - 2;
  
        &:hover{
          background:$blue;
          color:$white;
        }
      } 
    }
    .sb-sidenav-footer{
      background:darken($green, 20%);   
    }
    .sb-sidenav-menu{
      .nav-link{
        color:$white;
      }
    }
  
    //user right
    .user-right{
      .breadcrumb{
        background:none;
  
        li{
          a{
            color:$black;
          }
        }
      }
      .form-group{
          label{
              color:$black;
          }
          .form-control{
              color:$black;
              border:1px solid lighten($black, 80%);
          }
      }      
      .disformgroup{
          opacity:0.6;
      }
      .list-group{
          .list-group-item{
              border-radius:0;

              .editicons{
                  a{
                      color:$black;
                      text-transform: uppercase;
                      font-size:$fsize - 2;

                      &:hover{
                          color:$green;
                      }
                  }
              }
          }
      }
      .addIcon{
          width:65px;
          height:65px;
          background:$green;
          @include verticalcenter;
          border-radius:50%;

          .icomoon{
              font-size:$fsize * 3;
              color:$white;
          }
      }
    }

    //user rightr ends 
    .form-group{
        label{
            color:$black;
        }
        .form-control{
            color:$black;
        }
    }
    .greenBtn {
        border:1px solid transparent;
        &:hover{
            border:1px solid $green;
        }
    }
    .userRightTitle{
        @include mob{
            flex-wrap: wrap;
        }
        h3{
            font-size:$fsize + 5;
        }
    }
  }

  .faqItem{
    padding:20px 0;
    border-bottom:1px solid lighten($black, 80%);
    h6{
        font-weight:bold;
    }
    &:last-child{
        border:none;
    }
}

.editicons{
    .icomoon{
        font-size:$fsize + 5;
        color:lighten($black, 50%);
        margin:0 10px;
    }
}

.zoom-box{
    position: relative;
}
.zoom-box img.galimg{
    vertical-align: bottom;
}
.zoom-box .zoom-selector{
    position: absolute;
    background-image: url("../img/selector.png");
    background-repeat: repeat;
    display: none;
    cursor: crosshair;
}
.zoom-box .viewer-box{
    position: absolute;
    border: 1px solid rgb(239,237,240);
    display: none;
    overflow: hidden;
    z-index: 999;
    right:50%;
   
    
}
.zoom-box .viewer-box>img{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    object-fit: cover;
}


//custom stepper 
.customStepper{
    .multisteps-form__panel{
        .multisteps-form__title{
            font-size:$fsize + 5;
        }
    }
}

//custom stepper ends 


.cardnumber{
    img{
        width:60px;
    }
}

.quantaRotate{
    position:relative;
    height:450px;
    video{
        background:$black;
        width:100%;      
        height:400px;       
        z-index:0;      
        @include positionall(0,0,0,0); 

        &:focus{
            outline:none;
            border:none;
        }
    }
}

.ecocol{
    border:1px solid lighten($black, 25%);
    padding:15px;
    margin-top:-1px;
    margin-left:-1px;
    display:flex;

    @include mob{
        flex-wrap: wrap;
        text-align:center;
    }
    @include tab{
        flex-wrap: wrap;
        text-align:center;
    }
    p{
        @include mob{
            text-align:center!important;
        }
        @include tab{
            text-align:center!important;
        }
    }
}

.blogdetail_title{
    @include mob{
        h2{
            font-size:$fsize + 4;
        }
    }
}

.sb-nav-fixed #layoutSidenav {
    @include mob{
        z-index:999;
    }
}

.div_content{
    height:350px;
    overflow-y: auto;


    @include mob{
        height:auto;
    }
}
.multisteps-form__content{
    height:350px;
    overflow-y: auto;
    overflow-x:hidden;

    @include mob{
        height:auto;
    }
}
//book now page styles
.booknowpage{
    padding-top:70px;
    background:$white;
    p{
        color:$black;
    }
    .h5{
        color:lighten($black, 70%);
    }
    .vehicleCol{
        background:#53565a;
        padding:25px 5px 10px 5px;
        border-radius:20px;
        position:relative;

        h5{
            font-size:$fsize;
            color:$white;
            text-align: center;
            padding:15px 0;
        }
        img.vehImage{
            @include transition;
        }

        &:hover{
            img{
                transform: scale(0.9);
            }
        }       
    }
  
    .bookRowtitle{
        padding:15px 0;
        border-bottom:1px solid #53565a;
        color:$black;
    }
    .custom-checkbox {
        position: absolute;
        right: 15px;
        top: 15px;       

        .icomoon{
            font-size:$fsize + 3;
            display:none;
            position:relative;
            top:8px;
        }
    }

    .custom-checkbox-input {
        display: none;
    }

    .custom-checkbox-text {      
        border:1px solid $white;
        color: #555;
        cursor: pointer;
        user-select: none;
        width:40px;
        height:40px;
        border-radius:50%;
        display: block;
        text-align: center;
        line-height: 45px;        
    }

    .custom-checkbox-input:checked ~ .custom-checkbox-text {
        background-color:$green;       
        border:1px solid $green;

        .icomoon{
            display:block;
        }
    }   

    .form-group{       
        label{
            color:$black;
        }
        .form-control{
            background:$white;
            color:$black;
            border-radius:5px;
        }
    }  
     
}

.proudlyIndia{
    padding:100px 0;
}


