@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
  font-family: 'FuturaLT';
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.fwhite {
  color: #fff;
}

.greentext {
  color: #9ad902;
}

.greentext:hover {
  color: #fff;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.animate__animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.cust-container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .cust-container {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cust-container {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .cust-container {
    width: 90%;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .cust-container {
    width: 90%;
  }
}

h1, .h1, h2, .h2, .h3, h3 {
  font-family: 'AkiraExpanded-SuperBold';
}

.bigTitle, .video-home .article .h1, .coloursBikes .container .h1 {
  font-size: 120px;
  color: #9ad902;
}

.subTitle, .swapping-section .swapright .swap-article h2, .article .h2 {
  font-size: 40px;
  color: #9ad902;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .subTitle, .swapping-section .swapright .swap-article h2, .article .h2 {
    font-size: 25px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .subTitle, .swapping-section .swapright .swap-article h2, .article .h2 {
    font-size: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subTitle, .swapping-section .swapright .swap-article h2, .article .h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .subTitle, .swapping-section .swapright .swap-article h2, .article .h2 {
    font-size: 25px;
  }
}

a:hover {
  text-decoration: none;
}

.greenbrdBtn {
  padding: 10px 20px;
  border: 1px solid #9ad902;
  color: #9ad902;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0;
}

.greenbrdBtn:hover {
  background: #9ad902;
  color: #fff;
}

.redbrdBtn {
  padding: 10x 20px;
  border: 1px solid #f73b06;
  color: #f73b06;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.redbrdBtn:hover {
  background: #f73b06;
  color: #fff;
}

.main-timeline .timeline-icon {
  line-height: 100px;
}

.blackbrdBtn {
  padding: 10px 20px;
  border: 1px solid #000;
  color: #000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.blackbrdBtn:hover {
  background: #000;
  color: #fff;
}

.greenBtn {
  background: #9ad902;
  padding: 10px 20px;
  color: #000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0;
}

.greenBtn:hover {
  background: #fff;
  color: #9ad902;
}

.blackBtn {
  background: #000;
  padding: 10px 20px;
  color: #9ad902;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}

.blackBtn:hover {
  background: #fff;
  color: #000;
}

.fwhite {
  color: #fff !important;
}

.fgreen {
  color: #9ad902 !important;
}

.fred {
  color: #f73b06 !important;
}

.fblack {
  color: #000;
}

.sticked {
  padding: 7px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sticked {
    padding: 10px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .sticked {
    padding: 10px 0;
  }
}

header {
  background: #1d1d1d;
  padding: 10px 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .navbar-brand {
  width: 250px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-brand {
    width: 220px;
  }
}

header .navbar-brand img {
  width: 100%;
}

header .link-border {
  border: 1px solid #9ad902;
  margin-right: 5px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .link-border {
    margin-left: 15px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .link-border {
    margin-left: mlscape;
  }
}

header a.active {
  position: relative;
  color: #9ad902;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  font-size: 11px;
  padding: 5px 12px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header a.active {
    padding: 5px 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header a.active {
    padding: 5px 15px;
  }
}

header a.active:before {
  content: '';
  background: url(../img/menu_bg.png) no-repeat 0 0;
  width: 104px;
  height: 47px;
  position: absolute;
  top: inherit;
  right: inherit;
  bottom: -22px;
  left: 50%;
  margin-left: -52px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header a.active:before {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header a.active:before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  header a.active:before {
    display: none;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  header .navbar-nav .nav-link {
    font-size: 11px !important;
  }
}

.modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  max-width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .close {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  opacity: 1;
  position: absolute;
  top: 50px;
  right: 50px;
  bottom: inherit;
  left: inherit;
  z-index: 20;
}

.modal.right .close:focus {
  border: none;
  outline: none;
}

.modal.right .close:hover {
  color: #9ad902;
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0;
  background: #0d0d0d;
}

.modal.right .modal-body {
  padding: 0;
}

.modal.right .modal-body .nav-right {
  padding-top: 100px;
}

.modal.right .modal-body .nav-right ul li {
  padding: 10px 20px;
}

.modal.right .modal-body .nav-right ul li a {
  color: #999999;
  text-transform: uppercase;
  font-size: 14px;
}

.modal.right .modal-body .nav-right ul li a:hover {
  text-decoration: none;
  color: #9ad902;
}

.modal.right .modal-body .nav-right .right-social {
  padding-left: 20px;
  padding-top: 20px;
}

.modal.right .modal-body .nav-right .right-social a {
  width: 40px;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  color: #999999;
}

.modal.right .modal-body .nav-right .right-social a:hover {
  background: #9ad902;
  border: 1px solid #9ad902;
}

.modal.right .modal-body .nav-right .right-social a:hover .icomoon {
  color: #fff;
}

.modal.right .modal-body .nav-right .right-social a .icomoon {
  color: #999999;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.video-home {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 575px) {
  .video-home {
    height: 350px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .video-home {
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .video-home {
    height: 600px;
  }
}

.video-home video {
  background: #000;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  padding: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .video-home video {
    height: 350px;
    padding: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .video-home video {
    height: 350px;
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .video-home video {
    height: 600px;
    padding: 20px;
  }
}

.video-home .article {
  position: relative;
  z-index: 0;
  width: 696px;
  text-align: center;
  float: right;
  padding-top: 130px;
}

.video-home .article h4 {
  font-size: 33px;
  color: #999999;
  letter-spacing: 10px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.swapping-section {
  background: url(../img/road.jpg) repeat 0 0;
  height: 100vh;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .swapping-section {
    height: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .swapping-section {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .swapping-section {
    height: 430px;
  }
}

.swapping-section video {
  background: url(../img/road.jpg) repeat 0 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .swapping-section video {
    height: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .swapping-section video {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .swapping-section video {
    height: 430px;
  }
}

.swapping-section .swapright {
  position: absolute;
  top: 30%;
  right: 10%;
  bottom: inherit;
  left: inherit;
  width: 28%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .swapping-section .swapright {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .swapping-section .swapright {
    top: 8%;
  }
}

.swapping-section .swapright .swap-article {
  margin: auto;
}

@media (min-width: 576px) and (max-width: 767px) {
  .swapping-section .swapright .swap-article {
    margin-top: -70px;
    padding: 0;
  }
}

.article {
  padding: 50px 0 0 0;
}

.article h4 {
  font-size: 28px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  letter-spacing: 2px;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .article h4 {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .article h4 {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .article h4 {
    font-size: 18px;
  }
}

.article .h2 {
  color: #000;
  letter-spacing: 1px;
}

.article p {
  font-size: 15px;
}

.india-designed {
  background: #2b2b2b url(../img/flatcol.png) no-repeat 50px bottom;
  width: 100%;
  background-size: cover;
  padding: 100px 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .india-designed {
    height: auto;
    background-position: -150px bottom;
    display: block;
    padding: 30px 16px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .india-designed {
    height: auto;
    background-position: 0 bottom;
    display: block;
    padding: 30px 16px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .india-designed {
    height: auto;
    background-position: 0 bottom;
    display: block;
    padding: 30px 16px;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .india-designed {
    background: #2b2b2b url(../img/flatcol.png) no-repeat -600px bottom;
  }
}

.india-designed .article {
  padding-left: 25%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .india-designed .article {
    padding-left: 2%;
    padding-top: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .india-designed .article {
    padding-left: 2%;
    padding-top: 30px;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .india-designed .article {
    padding-left: 0;
    padding-top: 30px;
  }
}

.gearup {
  background: url(../img/Ecosystem.png) no-repeat 0 0;
  width: 100%;
  height: 80vh;
  margin-top: 0;
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) and (max-width: 575px) {
  .gearup {
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .gearup {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .gearup {
    height: auto;
  }
}

.gearup .gearin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-size: cover;
  position: relative;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .gearup .gearin {
    height: auto;
    padding: 0 0 35px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .gearup .gearin {
    height: auto;
    padding: 0 0 35px 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .gearup .gearin {
    height: auto;
    padding: 0 0 35px 0;
  }
}

.gearup .gearin .gearinarticle {
  width: 45%;
  margin-top: -26%;
}

.gearup .gearin .gearinarticle p {
  padding-right: 25%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .gearup .gearin .gearinarticle {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .gearup .gearin .gearinarticle {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .gearup .gearin .gearinarticle {
    width: 70%;
  }
}

.gearup .gearin .article {
  color: #fff;
  padding-left: 100px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .gearup .gearin .article {
    padding-left: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .gearup .gearin .article {
    padding-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .gearup .gearin .article {
    padding-left: 20px;
  }
}

.gearup .gearin .article .h2 {
  color: #9ad902;
}

.gearup .gearin .article p {
  color: #000;
}

.kms-section {
  background: #fff;
  height: 100vh;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .kms-section {
    height: auto;
    padding: 50px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kms-section {
    height: auto;
    padding: 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .kms-section {
    height: auto;
    padding: 20px 0;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .kms-section {
    padding: 80px 0 80px 0;
  }
}

.kms-section .article {
  position: relative;
  top: 300px;
  z-index: 0;
  padding-top: 0;
  margin-top: -220px;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .kms-section .article {
    top: 190px;
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .kms-section .article {
    top: 20px;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kms-section .article {
    top: 20px;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .kms-section .article {
    top: 20px;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

.kms-section .article .h2 {
  font-size: 220px;
  color: #9ad902;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 190px;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .kms-section .article .h2 {
    font-size: 150px;
    line-height: 130px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .kms-section .article .h2 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kms-section .article .h2 {
    font-size: 45px;
    line-height: 55px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .kms-section .article .h2 {
    font-size: 90px;
    line-height: 115px;
  }
}

.kms-section .article h4 {
  color: #000;
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .kms-section .article h4 {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kms-section .article h4 {
    font-size: 17px;
  }
}

.kms-section .article .h3 {
  color: #000;
  font-size: 30px;
  padding-bottom: 0;
  text-align: right;
  padding-right: 20px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .kms-section .article .h3 {
    font-size: 18px;
    text-align: center;
    padding-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kms-section .article .h3 {
    font-size: 18px;
    text-align: center;
    padding-right: 0;
  }
}

.kms-section .kmsimg {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  width: 78%;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .kms-section .kmsimg {
    width: 62%;
    margin-top: 0;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .kms-section .kmsimg {
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kms-section .kmsimg {
    width: 100%;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .kms-section .kmsimg {
    width: 100%;
    margin-top: 0;
  }
}

.features {
  padding: 60px 0;
  background: #9ad902;
}

@media (min-width: 320px) and (max-width: 575px) {
  .features .featurecol {
    text-align: center;
    padding: 15px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .features .featurecol {
    text-align: center;
    padding: 15px 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .features .featurecol {
    text-align: center;
    padding: 15px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .features .featurecol img {
    height: 80px;
  }
}

.features .featurecol h4 {
  font-size: 17px;
  color: #000;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-top: 30px;
  line-height: 25px;
  font-family: 'AkiraExpanded-SuperBold';
}

@media (min-width: 576px) and (max-width: 767px) {
  .features .featurecol h4 {
    font-size: 15px;
  }
}

.journey {
  background: url(../img/orderbg.jpg) no-repeat 0 0;
  padding: 60px 0;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 575px) {
  .journey {
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .journey {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .journey {
    height: auto;
  }
}

.journey .article {
  padding-bottom: 30px;
  padding-top: 0;
}

.journey .article h4 {
  color: #fff;
  font-size: 30px;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .journey .article h4 {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .journey .article h4 {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .journey .article h4 {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .journey .article h4 {
    font-size: 15px;
  }
}

.journey .article .h2 {
  color: #9ad902;
  font-size: 55px;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .journey .article .h2 {
    font-size: 30px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .journey .article .h2 {
    font-size: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .journey .article .h2 {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .journey .article .h2 {
    font-size: 25px;
  }
}

.journey .article p {
  color: #a6a6a6;
  font-size: 17px;
  font-weight: normal;
}

@media (min-width: 991px) and (max-width: 1399px) {
  .journey .article p {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .journey .article p {
    font-size: 15px;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .journey .journeyimg {
    width: 70%;
  }
}

.advantages-section {
  background: url(../img/advantagesbg.png) no-repeat 0 0;
  background-size: cover;
  padding-top: 50px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .advantages-section {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .advantages-section {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .advantages-section {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.advantages-section .article {
  padding-bottom: 75px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .advantages-section .article {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .advantages-section .article {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .advantages-section .article {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.advantages-section .article .h2 {
  color: #fff;
}

.advantages-section .article h4 {
  color: #fff;
}

.smart-mobile {
  background: url(../img/performancebanner.jpg) no-repeat center center;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) and (max-width: 575px) {
  .smart-mobile {
    height: auto;
    padding: 50px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .smart-mobile {
    height: auto;
    padding: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .smart-mobile {
    height: auto;
    padding: 50px 0;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .smart-mobile .article {
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .smart-mobile .article {
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .smart-mobile .article {
    padding: 15px;
  }
}

.smart-mobile .playstore {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.smart-mobile .playstore img {
  width: 150px;
  margin: 0 5px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .smart-mobile .playstore img {
    width: 120px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .smart-mobile .playstore img {
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .smart-mobile .playstore img {
    width: 120px;
  }
}

footer {
  background: #000;
  padding: 50px 0 20px 0;
  position: relative;
}

footer .footer-brand img {
  width: 200px;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .footerlinks {
    padding: 15px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  footer .footerlinks {
    padding: 15px 0;
  }
}

footer .footerlinks a {
  color: #999999;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-right: 15px;
}

footer .footerlinks a:hover {
  color: #fff;
}

footer .sociallinks a {
  font-size: 15px;
}

footer .rightsrow {
  padding-top: 35px;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .rightsrow {
    padding-top: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  footer .rightsrow {
    padding-top: 10px;
  }
}

footer .rightsrow p {
  font-size: 12px;
  color: #999999;
}

footer .movetop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: inline-block;
  text-align: center;
  line-height: 53px;
  display: none;
  background: #9ad902;
  z-index: 999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-radius: 10px;
}

footer .movetop:hover {
  background: #fff;
}

footer .movetop .icomoon {
  font-size: 21px;
  color: #000;
}

.subMain {
  min-height: 700px;
  background: #202023;
  padding-top: 50px;
}

.subMain p {
  font-size: 15px;
  color: white;
  padding-bottom: 15px;
  text-align: justify;
}

.subMain .quantaslider {
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subMain .quantaslider {
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subMain .quantaslider {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .subMain .quantaslider {
    height: auto;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .subMain .quantaslider {
    height: auto;
  }
}

.subMain .quantaslider img {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subMain .quantaslider img {
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subMain .quantaslider img {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .subMain .quantaslider img {
    height: auto;
  }
}

@media (min-width: 991px) and (max-width: 1399px) {
  .subMain .quantaslider img {
    height: auto;
  }
}

.subMain .rotateQuanta {
  background: #000;
  padding: 75px 0 0 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subMain .rotateQuanta .rotatecol {
    margin: 10px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subMain .rotateQuanta .rotatecol {
    margin: 10px 0;
  }
}

.subMain .rotateQuanta .rotatecol h4 {
  font-size: 25px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subMain .rotateQuanta .rotatecol h2 {
  font-size: 60px;
  color: #9ad902;
}

.subMain .rotateQuanta .rotatecol h2 span {
  font-size: 30px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .subMain .rotateQuanta .rotatecol h2 {
    font-size: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .subMain .rotateQuanta .rotatecol h2 {
    font-size: 40px;
  }
}

.subMain .rotateQuanta .rotatecol p {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.subMain .rotateQuanta .rotatecol:nth-child(2) {
  border-right: 1px solid #9ad902;
  border-left: 1px solid #9ad902;
}

.specs-detail {
  background: #2f2e34;
  padding: 75px 0 0 0;
}

.specs-detail::after {
  display: block;
  content: "";
  clear: both;
}

@media (min-width: 320px) and (max-width: 575px) {
  .specs-detail h1 {
    font-size: 28px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .specs-detail h1 {
    font-size: 28px;
  }
}

.specs-detail .spectab {
  padding-top: 50px;
}

.specs-detail .spectab .resp-vtabs .resp-tabs-list li {
  background: none !important;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  padding: 30px;
  border-bottom: 2px solid #3b3940 !important;
  margin: 0;
}

.specs-detail .spectab .resp-vtabs li.resp-tab-active {
  background: #3b3940 !important;
  color: #9ad902;
  border-bottom: 2px solid #3b3940 !important;
}

.specs-detail .resp-tabs-list li {
  background: #9ad902;
}

.specs-detail .resp-tabs-container {
  background: #3b3940 !important;
  padding: 15px 45px 50px 45px;
  height: 100%;
  margin-top: 3px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .specs-detail .resp-tabs-container {
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .specs-detail .resp-tabs-container {
    padding: 15px;
  }
}

.specs-detail .resp-tabs-container h5 {
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.specs-detail .resp-tabs-container .specrow dt {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
}

.specs-detail .resp-tabs-container .specrow dd {
  font-size: 14px;
  color: #999999;
  padding-top: 5px;
  padding-bottom: 25px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.standardsQuanta {
  background: url(../img/bag.png) repeat 0 0;
  width: 100%;
  padding: 75px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .standardsQuanta {
    padding: 0;
  }
}

.standardsQuanta .starticle {
  text-align: left;
  padding-left: 100px;
  padding-right: 50px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .standardsQuanta .starticle {
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .standardsQuanta .starticle {
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .standardsQuanta .starticle {
    padding: 15px;
  }
}

.standardsQuanta .starticle h3 {
  font-size: 20px;
  color: #9ad902;
  text-transform: uppercase;
}

ul.list-items {
  padding: 20px 0 0 0;
  margin: 0;
}

ul.list-items li {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
  padding-left: 10px;
}

ul.list-items li:before {
  content: '-';
  left: -10px;
  position: relative;
}

.mob-connectivity {
  background: #202023;
  padding: 75px 0;
  display: none;
}

.coloursBikes {
  background: #2f2e34;
  padding: 0 0 75px 0;
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .coloursBikes .carousel-indicators {
    bottom: -40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .coloursBikes .carousel-indicators {
    bottom: -40px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .coloursBikes .carousel-indicators {
    bottom: -40px;
  }
}

.coloursBikes .swiper-slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .coloursBikes .swiper-slide {
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .coloursBikes .swiper-slide {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .coloursBikes .swiper-slide {
    height: auto;
  }
}

.coloursBikes .container {
  position: relative;
}

.coloursBikes .container .h1 {
  color: #5d5d5d;
  position: relative;
  text-align: center;
  top: 60px;
  font-size: 150px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .coloursBikes .container .h1 {
    font-size: 45px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .coloursBikes .container .h1 {
    font-size: 45px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .coloursBikes .container .h1 {
    font-size: 70px;
    top: 20px;
  }
}

.coloursBikes .container .carousel {
  margin-top: -100px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .coloursBikes .container .carousel {
    margin-top: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .coloursBikes .container .carousel {
    margin-top: 0;
  }
}

.coloursBikes .container .carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.coloursBikes .container .carousel-fade .carousel-item.active,
.coloursBikes .container .carousel-fade .carousel-item-next.carousel-item-left,
.coloursBikes .container .carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.coloursBikes .container .carousel-fade .active.carousel-item-left,
.coloursBikes .container .carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.coloursBikes .container .carousel-indicators li {
  width: 16px;
  height: 16px;
  opacity: 1;
  background: white;
  border-radius: 50%;
  border: none;
}

.coloursBikes .container .carousel-indicators li:nth-child(1) {
  background: #000 !important;
}

.coloursBikes .container .carousel-indicators li:nth-child(2) {
  background: red !important;
}

.coloursBikes .container .carousel-indicators li:nth-child(3) {
  background: #fff !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.quantaGallery img.img-fluid {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
}

.quantaGallery img.img-fluid:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 999;
}

.h50 {
  height: 50%;
}

.loginmain {
  background: #000;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginmain .login-col {
  width: 300px;
}

.loginmain .login-col .loginbrand {
  text-align: center;
  margin: 25px auto;
  display: block;
}

.loginmain .login-col .loginbrand img {
  width: 220px;
}

.loginmain .login-col .form-group {
  margin-bottom: 15px;
}

.loginmain .login-col .form-group label {
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.loginmain .login-col .form-group .form-control {
  background: #1d1d1d;
  height: 45px;
  border: none;
  border-radius: 0;
  color: #fff;
}

.loginmain .login-col .form-group .form-control:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.loginmain .login-col .form-group .btn {
  background: #9ad902;
  height: 45px;
  border-radius: 0;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.loginmain .login-col .form-group .btn:hover {
  background: #fff;
}

.loginmain .login-col p {
  color: #fff;
}

.loginmain .login-col p a {
  color: #9ad902;
}

.loginmain .login-col p a:hover {
  color: #f73b06;
}

.contact .container .address {
  padding-bottom: 50px;
}

.contact .container .address h4 {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact .container .address p {
  font-size: 16px;
  color: #6a6a6a;
}

.contact .container .address a {
  color: #6a6a6a;
}

.form-group label {
  font-size: 15px;
  color: #fff;
}

.form-group .form-control {
  background: none;
  height: 45px;
  border: none;
  border-radius: 0;
  color: #fff;
  border: 1px solid #6a6a6a;
}

.form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.smthumb {
  width: 50px;
  height: 50px;
}

.blog-col article {
  background: #2b2b2b;
  padding: 25px;
  min-height: 321px;
}

.blog-col article h5 {
  font-size: 20px;
  color: #9ad902;
}

.blog-col article h4 {
  padding: 12px 0;
}

.blog-col article h4 a {
  font-size: 25px;
  color: #fff;
  line-height: 35px;
  font-family: 'Futura-Medium';
}

.blog-col article h4 a:hover {
  color: #9ad902;
}

.blog-col article p {
  font-size: 14px;
}

.blog-col article p small {
  color: gray;
}

.blog-col .bloglink {
  color: #9ad902;
}

.blog-col .bloglink:hover {
  color: #fff;
}

.page-navigation a {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  margin: 0 5px;
  line-height: 45px;
  color: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.page-navigation a:hover {
  background: #9ad902;
  color: #fff;
  border: 1px solid #9ad902;
}

.blogrow {
  margin-bottom: 25px;
}

.blogrow:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blogrow .col-md-6 {
  padding: 0;
}

.blogdetail-col h4 {
  font-size: 30px;
  color: #fff;
}

.blogdetail-col .h5 {
  font-size: 25px;
  color: #fff;
  margin: 10px 0;
}

.smp small {
  color: gray;
}

.otherpage .specs-details {
  padding-top: 0 !important;
  margin: 0;
}

.qandans {
  padding: 25px 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

.qandans h6 {
  font-size: 20px;
  color: #fff;
  padding-bottom: 5px;
}

.qandans p {
  font-size: 14px;
  color: gray;
  padding-bottom: 0;
}

.graybox {
  background: #1d1d1d;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px;
  text-align: center;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid gray;
}

.graybox .h4 {
  color: #9ad902;
}

.graybox p {
  text-align: center;
}

.graybox:hover {
  background: #9ad902;
}

.graybox:hover .h4 {
  color: #000;
}

.graybox:hover p {
  color: #000;
}

.links {
  position: fixed;
  top: 50%;
  right: 10px;
  z-index: 999;
  margin-top: -6%;
}

.links a {
  display: block;
  margin: 15px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
}

.links a:hover {
  background: #9ad902;
  width: 12px;
  height: 12px;
}

.links .Select-nav {
  background: #9ad902 !important;
}

.about-journey {
  padding-bottom: 100px;
}

.about-journey ul {
  margin: 15px 0;
}

.about-journey ul li {
  color: #fff;
  padding-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.about-journey ul li:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 10px;
  right: inherit;
  bottom: inherit;
  left: 0;
}

.about-journey .timeline .timeline-wrapper .timeline-panel .timeline-title {
  font-family: 'AkiraExpanded-SuperBold';
}

.philosphy {
  padding: 75px 0;
  background: #f1f1f1;
}

.philosphy .h2 {
  font-size: 60px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .philosphy .h2 {
    font-size: 30px;
  }
}

.philosphy p {
  color: #000;
}

.swapimg {
  height: 350px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .swapimg {
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .swapimg {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .swapimg {
    margin: 0 auto;
  }
}

.yrow {
  padding: 25px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .yrow .article {
    text-align: center;
  }
  .yrow .article p {
    text-align: center;
  }
}

.yrow .yimg {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 15px solid #404040;
}

@media (min-width: 320px) and (max-width: 575px) {
  .yrow .yimg {
    width: 220px;
    height: 220px;
  }
}

.user-screen ul.list-items li {
  color: #000 !important;
}

.user-screen .sb-topnav {
  background: black;
}

.user-screen .sb-topnav .navbar-brand img {
  width: 180px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-screen .sb-topnav .navbar-brand img {
    width: 150px;
  }
}

.user-screen .sb-topnav .dropdown-item {
  font-size: 13px;
}

.user-screen .sb-topnav .dropdown-item:hover {
  background: #045BA6;
  color: #fff;
}

.user-screen .sb-sidenav-footer {
  background: #527401;
}

.user-screen .sb-sidenav-menu .nav-link {
  color: #fff;
}

.user-screen .user-right .breadcrumb {
  background: none;
}

.user-screen .user-right .breadcrumb li a {
  color: #000;
}

.user-screen .user-right .form-group label {
  color: #000;
}

.user-screen .user-right .form-group .form-control {
  color: #000;
  border: 1px solid #cccccc;
}

.user-screen .user-right .disformgroup {
  opacity: 0.6;
}

.user-screen .user-right .list-group .list-group-item {
  border-radius: 0;
}

.user-screen .user-right .list-group .list-group-item .editicons a {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
}

.user-screen .user-right .list-group .list-group-item .editicons a:hover {
  color: #9ad902;
}

.user-screen .user-right .addIcon {
  width: 65px;
  height: 65px;
  background: #9ad902;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50%;
}

.user-screen .user-right .addIcon .icomoon {
  font-size: 45px;
  color: #fff;
}

.user-screen .form-group label {
  color: #000;
}

.user-screen .form-group .form-control {
  color: #000;
}

.user-screen .greenBtn {
  border: 1px solid transparent;
}

.user-screen .greenBtn:hover {
  border: 1px solid #9ad902;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-screen .userRightTitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.user-screen .userRightTitle h3 {
  font-size: 20px;
}

.faqItem {
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}

.faqItem h6 {
  font-weight: bold;
}

.faqItem:last-child {
  border: none;
}

.editicons .icomoon {
  font-size: 20px;
  color: gray;
  margin: 0 10px;
}

.zoom-box {
  position: relative;
}

.zoom-box img.galimg {
  vertical-align: bottom;
}

.zoom-box .zoom-selector {
  position: absolute;
  background-image: url("../img/selector.png");
  background-repeat: repeat;
  display: none;
  cursor: crosshair;
}

.zoom-box .viewer-box {
  position: absolute;
  border: 1px solid #efedf0;
  display: none;
  overflow: hidden;
  z-index: 999;
  right: 50%;
}

.zoom-box .viewer-box > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.customStepper .multisteps-form__panel .multisteps-form__title {
  font-size: 20px;
}

.cardnumber img {
  width: 60px;
}

.quantaRotate {
  position: relative;
  height: 450px;
}

.quantaRotate video {
  background: #000;
  width: 100%;
  height: 400px;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.quantaRotate video:focus {
  outline: none;
  border: none;
}

.ecocol {
  border: 1px solid #404040;
  padding: 15px;
  margin-top: -1px;
  margin-left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 575px) {
  .ecocol {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .ecocol {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .ecocol p {
    text-align: center !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .ecocol p {
    text-align: center !important;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .blogdetail_title h2 {
    font-size: 19px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .sb-nav-fixed #layoutSidenav {
    z-index: 999;
  }
}

.div_content {
  height: 350px;
  overflow-y: auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .div_content {
    height: auto;
  }
}

.multisteps-form__content {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 320px) and (max-width: 575px) {
  .multisteps-form__content {
    height: auto;
  }
}

.booknowpage {
  padding-top: 70px;
  background: #fff;
}

.booknowpage p {
  color: #000;
}

.booknowpage .h5 {
  color: #b3b3b3;
}

.booknowpage .vehicleCol {
  background: #53565a;
  padding: 25px 5px 10px 5px;
  border-radius: 20px;
  position: relative;
}

.booknowpage .vehicleCol h5 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

.booknowpage .vehicleCol img.vehImage {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.booknowpage .vehicleCol:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.booknowpage .bookRowtitle {
  padding: 15px 0;
  border-bottom: 1px solid #53565a;
  color: #000;
}

.booknowpage .custom-checkbox {
  position: absolute;
  right: 15px;
  top: 15px;
}

.booknowpage .custom-checkbox .icomoon {
  font-size: 18px;
  display: none;
  position: relative;
  top: 8px;
}

.booknowpage .custom-checkbox-input {
  display: none;
}

.booknowpage .custom-checkbox-text {
  border: 1px solid #fff;
  color: #555;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 45px;
}

.booknowpage .custom-checkbox-input:checked ~ .custom-checkbox-text {
  background-color: #9ad902;
  border: 1px solid #9ad902;
}

.booknowpage .custom-checkbox-input:checked ~ .custom-checkbox-text .icomoon {
  display: block;
}

.booknowpage .form-group label {
  color: #000;
}

.booknowpage .form-group .form-control {
  background: #fff;
  color: #000;
  border-radius: 5px;
}

.proudlyIndia {
  padding: 100px 0;
}
/*# sourceMappingURL=style.css.map */