
@font-face {
  font-family: 'AkiraExpanded-SuperBold';
  src: url('AkiraExpanded-SuperBold.eot?#iefix') format('embedded-opentype'),  url('AkiraExpanded-SuperBold.otf')  format('opentype'),
	     url('AkiraExpanded-SuperBold.woff') format('woff'), url('AkiraExpanded-SuperBold.ttf')  format('truetype'), url('AkiraExpanded-SuperBold.svg#AkiraExpanded-SuperBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
